{% extends 'main/main.html' %}

{% block content %}

<div class="container">

<div class="header-bar">
  <h1>Regsiter</h1>
</div>

<div class="card-body">
  <form method="POST">
    {% csrf_token %}
    <lable>{{form.username.label}}</lable>
    {{form.username}}
    <lable>{{form.password1.label}}</lable>
    {{form.password1}}
    <lable>{{form.password2.label}}</lable>
    {{form.password2}}
    
    <input class="button" type="submit" value="Register" style="margin-top: 50px;">
  </form>
</div>

</div>
<div class="log">
  {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}"><div>Logout</div></a>
  {% else %}
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
  {% endif %}
</div>

{% endblock content %}